* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249) ;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    background-color: white;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.logo, h1 {
    vertical-align: middle;
}

.tasks-manager {
    padding: 10px;
    margin-bottom: 50px;
}
.tasks-container, .tasks-manager {
    width: 70%;
    margin: 3px auto;
    background-color: white;
    padding-left: 50px;
}

.add-button {
    display: inline-block;
    border-radius: 5px;
    padding: 6px 14px;
    font-size: small;
}

.button-blue {
    background-color: rgb(71, 173, 241);
    color: white;
}

.add-section {
    color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #555;
    display: inline-block;
}

.task-title {
    font-size: 30px;
    font-weight: 700;
    margin-left: 0;
}

.tag {
    display: inline-block;
    color: white;
    border-radius: 13px;
    padding: 8px 10px;
    font-size: 12px;
}
.tag-blue {
    background-color: rgb(71, 173, 241);
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    font-size: small;
    color: rgb(132, 208, 192);
    line-height: 20px;
    text-align: center;
}

.circle-red {
    color: red;
}

.task {
    padding-bottom: 25px;
}

.task-list {
    padding-top: 25px;
    margin-bottom: 10px;
}

.tag-green {
    background-color: rgb(100, 192, 169);
}

.tag-violet {
    background-color: rgb(156, 114, 228);
}

.tag-orange {
    background-color: rgb(242, 158, 51);
}

.tag-purple {
    background-color: rgb(216, 99, 161);
}

.tag-lightgreen {
    background-color: rgb(176, 201, 38);
}