* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249) ;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 45px;
}

.logo, h1 {
    vertical-align: middle;
}